* {
    font-family: 'Segoe UI', 'Segoe UI Emoji';
    margin: 0;
    padding: 0;
}

html {
    height: auto;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-style {
    background-color: #6DAF6D;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bolder;
    padding: 16px 31px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    border: none;
}

    .button-style:hover {
        background-color: #FFFFFF;
        color: #1C195D;
        text-decoration: none;
    }

.hidden-element {
    display: none;
}


/* ---AREA DE LOGON --- */

.index-logo-section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 100%;
}

.logo-container {
    background-color: #1C195D;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 250px;
    width: 250px;
}

.logo {
    max-width: 100%;
    height: auto;
    padding-right: 10px;
}

/*Area dos botões*/
.acess-area {
    align-items: center;
    background-color: #1C195D;
    display: flex;
    flex-direction: column;
    height: 55vh;
    padding-top: 10%;
    width: 100%;
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px;
}

    .button-section p {
        font-size: 20px;
        color: white;
    }

/* ---TELA DE LOGIN--- */

.login-logo-section {
    background-color: #1C195D;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 45vh;
    width: 100%;
}


.login-form-section {
    align-items: center;
    background-color: #1C195D;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 600px;
}

.login-form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.login-form-input {
    align-items: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 40px;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 3%;
    width: 100%;
    border-style: solid;
    border-color: #FFFFFF;
}

.pwd-recovery {
    margin: 0 auto 0 auto;
    padding: 10px;
    color: white;
}

/* LOGIN */

.login-header {
    align-items: center;
    background-color: #1C195D;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.text-info {
    position: absolute;
    top: 150px;
}

/* ---TELA DE REGISTRO--- */


.signin-text {
    color: white;
}

.signin-text-2 {
    color: black;
}

.signin-form-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.signin-form-field {
    display: flex;
    flex-direction: column;
}

.form-label-style {
    padding: 15px 0 0px 0;
    font-weight: 700;
}

.signin-form-field-style {
    padding: 10px;
    border-radius: 20px;
    border-color: #e2e2e2;
    border-style: solid;
}

.signin-button-style {
    background-color: #1C195D;
    border-radius: 28px;
    border-style: none;
    color: #FFFFFF;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    text-transform: uppercase;
    width: 300px;
    margin: 25px auto 10px auto;
}

    .signin-button-style:hover {
        background-color: #6DAF6D;
        color: #1C195D;
    }

/* HOME */

/*Banner Section*/

.banner-area {
    background-color: white;
    background-image: url(/images/banner-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.banner-area-title {
    color: #4A0674;
    margin-bottom: 60px;
    padding: 15px;
    text-align: left;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 800;
}

.search-bar {

    box-shadow: 3px 3px 20px 2px gray;
    background-color: #cccccc;
    background-image: linear-gradient(gray, white);
    border-radius: 28px;
    border-style: solid;
    border-color: gray;
    color: #4A067;
    width: 95%;
    height: 60px;
    margin: 20px auto 10px auto;
    font-family: "Roboto";
    padding: 10px;
}

/*Cards-Section*/

.option-card-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding-top: 50px;
    margin: 0;
    
}

    .option-card-area h1 {
        color: #5B2180
    }

.option-cards-row {
    display: flex;
    flex-direction: row;
    }

.option-card {
     
    align-items:center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 160px;
    background-color: #5B2180;
    margin: 12px;
    border-radius: 15px;
    padding: 25px;

}

.option-card p1 {

    text-align: center;
    color: white;
    font-family: "Roboto";
    padding: 10px;
}





    .card {
        margin: 10px auto;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px;
        box-shadow: 0px 1px 5px #aaaaaa;
    }

    .card img {
        height: 70px;
        width: 70px;
    }

    .card h3 {
        font-size: 35px;
        margin-left: 20px;
    }

.services-container {
    margin: 20px 40px 70px 40px;
}


/* SHARED */

.app-container {
    width: 100%;
}

.app-header {
    align-items: center;
    background-color: #1C195D;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.app-logo-text {
    color: #6DAF6D;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 15px;
    font-size: 20px;
}

.simple-logo {
    width: auto;
    height: 50px;
    position: relative;
    margin: 0 auto;
}

.return-icon img {
    position: relative;
    top: 15px;
    left: 10px;
    height: 30px;
    width: auto;
}

.header-message, .header-message-2 {
    color: #FFFFFF;
    margin-bottom: 40px;
    width: 100%;
    padding: 0 30px;
}

.header-message-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .header-message-2 h3 {
        margin-left: 20px;
        font-size: 20px;
        opacity: 0.75;
    }

.header-message h3 {
    opacity: 0.75;
    font-size: 20px;
}

.initial {
    background-color: white;
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.footer-navbar {
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 0px 5px #aaaaaa;
    padding: 10px;
    background-color: white;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-navbar img {
    height: 25px;
    width: 25px;
}

.footer-navbar a {
    color: black;
}

    .footer-navbar a:hover {
        text-decoration: none;
    }

/* PROFILE */

.menu-option {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid #aaaaaa;
}

    .menu-option img {
        position: absolute;
        right: 40px;
        height: 16px;
    }
