* {
    font-family: 'Segoe UI', 'Segoe UI Emoji';
    margin: 0;
    padding: 0;
}

html {
    height: auto;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-color-index-signin {
    background-color: #5B2180;
}

.button-style {
    background-color: #6DAF6D;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bolder;
    padding: 16px 31px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    border: none;
}

    .button-style:hover {
        background-color: #FFFFFF;
        color: #1C195D;
        text-decoration: none;
    }

.hidden-element {
    display: none;
}

.back-arrow{
    display: flex;
    flex-direction: row;
    color: black;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.arrow-image{
    margin-right: 10px;
}

/* ---AREA DE LOGON --- */

.index-logo-section {
    background-color: #5B2180;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 100%;
}

.logo-container {
    background-color: #5B2180;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60%;
}

.logo {
    max-width: 100%;
    height: auto;
    padding-right: 10px;
}

/*Area dos botões*/
.acess-area {
    align-items: center;
    background-color: #5B2180;
    display: flex;
    flex-direction: column;
    height: 55vh;
    padding-top: 10%;
    width: 100%;
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px;
}

    .button-section p {
        font-size: 20px;
        color: white;
    }

/* ---TELA DE LOGIN--- */

.login-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.login-logo-section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width:60%;
    margin: auto;
}


.login-form-section {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: auto;
}

.login-form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.login-form-input {
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 70px;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 3%;
    width: 100%;
    border-style: solid;
    border-color: #FFFFFF;
}

.login-form-input {
    outline-color: #5B2180;
}
.pwd-recovery {
    margin: 0 auto 0 auto;
    padding: 10px;
    color: #C58BE9;
}

/* LOGIN */

.login-header {
    align-items: center;
    background-color: #1C195D;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.text-info {
    position: absolute;
    top: 150px;
}

/* ---TELA DE REGISTRO--- */


.signin-text {
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.signin-text-2 {
    color: #7C7C7C;
    font-size: 20px;
    font-weight:700;
    font-family: "Roboto";
}

.signin-form-section {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.signin-form-field {
    display: flex;
    flex-direction: column;
}

.form-label-style {
    padding: 25px 0 0px 0;
    font-weight: 800;
    font-family: "Roboto";
}

.signin-form-field-style {
    padding: 10px;
    border-radius: 10px;
    border-color: #e2e2e2;
    border-style: solid;
}

.signin-form-field-style:focus {
        outline-color: #5B2180;
}

    .signin-button-area {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

.signin-button-style {
    background-color: #1C195D;
    border-radius: 28px;
    border-style: none;
    color: #FFFFFF;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    text-transform: uppercase;
    width: 300px;
    margin: 25px auto 10px auto;
}

    .signin-button-style:hover {
        background-color: #6DAF6D;
        color: #1C195D;
    }

/* HOME */

/*Banner Section*/

.banner-area {
    background-color: white;
    background-image: url(/images/banner-main-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.banner-area-title {
    color: #4A0674;
   
    padding: 30px;
    text-align: left;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 800;
}

.search-bar-form {
    margin: 0 auto;
    width: 90%;
    position: relative;
}

.search-bar {
    box-shadow: 3px 3px 20px 2px gray;
    background-color: #cccccc;
    background-image: linear-gradient(gray, white);
    border-radius: 28px;
    border-style: solid;
    border-color: gray;
    color: #5B2180;
    width: 100%;
    height: 60px;
    margin: 20px auto 10px auto;
    font-family: "Roboto";
    padding: 10px;
}

.search-bar:focus {
     outline-color: #5B2180;
}

.search-bar-button {
    position: absolute;
    height: 60px;
    border-radius: 0 28px 28px 0;
    padding: 0 15px;
    right: 0;
    top: 20px;
    right: 0px;
    border: none;
    background: #5B2180;
    font-weight: 600;
    color: white;
    letter-spacing: 2px
}

.search-bar-button:hover{
    background: #646694;
}

/*Cards-Section*/
.option-card-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding-top: 50px;
    margin: 0;
}

    .option-card-area h1 {
        color: #5B2180
    }

.option-cards-row {
    display: flex;
    flex-direction: row;
    }

.option-card {
     
    align-items:center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 160px;
    background-color: #5B2180;
    margin: 12px;
    border-radius: 15px;
    padding: 25px;

}

.option-card p1 {

    text-align: center;
    color: white;
    font-family: "Roboto";
    padding: 10px;
}

/* Tela de listagem dos produtos */

/*area de barra de pesquisa - produtos*/

.product-search-bar-area{
    padding: 20px;
}

    .product-search-bar-area h1 {
        margin-top: 30px;
        color: #4A0674;
        font-family: "Roboto";
        font-weight: 600;
    }

/*area dos cards de produto*/

.product-card-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.product-card {
    border: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 3px gray;
    color: green;
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 144px;
    margin: 15px;
}

.product-card-image-area {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 0px 0px 0px;
    width: 140px;
    height: 120px;
}

.product-card-information-area {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 240px;
    align-items: flex-start;
}

.product-card-information-area h2 {
        font-size: 16px;
        color: #4A0674;

        margin:0;
}

.product-card-information-area h3 {
        font-size: 14px;
        color: #7C7C7C;
        margin:0;
}

.avaliation-subarea {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 70%;
}

.avaliation-subarea p {
    color: #7C7C7C;
    font-size: 12px;
    padding: 5px;
    margin: 0;
 }

.star-icon {
    height: auto;
    width: 8px;
}

.sold-units {
    color: #7C7C7C;
    font-size: 12px;
    padding: 3px;
    margin:0;
}

.price-area{
    display: flex;
    flex-direction: row;
}

.pricing{
    padding:5px ;
    font-size: 16px;
    color: black;
    margin:0;
}

.lot-text {
    color: #7C7C7C;
    font-size: 15px;
    margin: 0;
    padding-top:5px;
}

/*Página de pedidos ativos*/
.finished-orders{
    padding: 20px;
}
.finished-orders h1 {
    margin-top: 30px;
    color: #4A0674;
    font-family: "Roboto";
    font-weight: 600;
}

.finished-orders p{
    display:flex;
    justify-content: center;
    padding:10px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;

}

/*Página de detalhes do Produto*/

.product-main-banner-area {
    height: 250px;
    max-width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-main-information{
    padding: 20px;
}

.product-main-information h2 {
    font-size: 23px;
    color: #4A0674;
    margin: 0;
}

.product-main-information h3 {
    font-size: 18px;
    color: #7C7C7C;
    margin-bottom: 15px;
}

.product-main-information h4 {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
}

.product-avaliation {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 70%;
    margin-top: 10px;
}

.avaliation-title{
    padding: 10px;
    margin:0px;
    color: black;
    font-weight: 600;

}

.product-avaliation-description {
    color: black;
    font-size: 15px;
    padding: 0px 10px 0px 0px;
    margin: 0;
}

.product-star-icon {
    height: auto;
    width: 14px;
    padding-top: 15px;
}

.sold-units-product {
    color: gray;
    font-size: 17px;
    margin-top: 5px;
    font-weight: 600;
}

/*Area de preço e botoes*/

.pricing-and-options-area{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    height: auto;
}

.price-and-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-pricing-area{
    display: flex;
    flex-direction: row;
}

.product-value{
    display:flex;
    flex-direction: column;
}

.product-pricing {
    padding: 5px;
    font-size: 22px;
    font-weight:700;
    color: black;
    margin: 0;
}

.product-lot-text {
    color: #7C7C7C;
    font-size: 14px;
    margin: 0;
}

.quantity-area{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.quantity-area p{
    color: #7C7C7C;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}

.quantity-counter {
    width: 90px;
    height: 20px;
    background-color: #E2E2E2;
    margin-left: 10px;
    border-style: none;
}

.quantity-counter:focus {
    outline-color: #5B2180;
}

/*Botoes Produto*/

.product-button-area{

    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px;
}
.button-purple {
    background-color: #5B2180;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    padding: 16px 31px;
    text-align: center;
    text-decoration: none;
    width: 280px;
    border: none;
    margin: 5px;
    font-family: "Roboto";
}


.button-gray {
    background-color: #CACACA;
    border-radius: 10px;
    color: #5B2180;
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    padding: 16px 31px;
    text-align: center;
    text-decoration: none;
    width: 280px;
    border: none;
    margin: 5px;
}

.button-white {
    background-color: white;
    border-radius: 10px;
    color: #5B2180;
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    padding: 16px 31px;
    text-align: center;
    text-decoration: none;
    width: 280px;
    border: none;
    margin: 5px;
    text-align: center;
}

/*Buttons Hover Effects*/
.button-purple:hover {
    background-color: #646694;
    color: white;
    text-decoration: none;
}

.button-gray:hover {
    background-color: #646694;
    color: white;
    text-decoration: none;
}

.button-white:hover {
    background-color: #646694;
    color: white;
    text-decoration: none;
}

/*Detalhes de Envio*/

.product-details-button-area{
    display: flex;
    flex-direction: row;
}

.delivery-details{
    display: flex;
    flex-direction: column;
}

.delivery-title{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding:3px;
    margin-top: 10px;
}

.delivery-date {
    font-size: 14px;
    color: #7C7C7C;
    margin: 0px;
    padding: 3px;
}

/* Configuração da Tela de Pagamento*/

.payment-card-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.payment-card-area h1 {
   
    padding:15px;
    margin-right: 150px;
    font-size: 23px;
    color: #4A0674;
    font-family: "Roboto";
    font-weight: 600;
}

.payment-product-card {
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 3px gray;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: auto;
    margin: 15px;
}

.image-plus-information {
    display: flex;
    flex-direction: row;
    height: 144px;
}

.payment-card-image-area {
    background-image: url(/images/product-cimento.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px 0px 0px 10px;
    height: 144px;
    width: 140px;
}

.payment-card-information-area {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 240px;
    height: 144px;
}

    .payment-card-information-area h2 {
        font-size: 16px;
        color: #4A0674;
        margin: 0;
    }

    .payment-card-information-area h3 {
        font-size: 14px;
        color: #7C7C7C;
        margin: 0;
    }

.payment-quantity-area {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

    .payment-quantity-area p {
        color: #7C7C7C;
        font-size: 14px;
        font-weight: 600;
        margin: 0px;
    }

.payment-quantity-counter {
    width: 60px;
    height: 20px;
    background-color: #E2E2E2;
    margin-left: 10px;
    border-style: none;
}

.payment-avaliation-price{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.payment-price-area{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.total-value {
    color: #7C7C7C;
    font-weight: 700;
    padding-top: 5px;
    padding-right: 10px;
    margin: 0;
}

.payment-pricing{
    color: black;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

/*Cards de formas de pagamento*/


.payment-forms {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.payment-forms h1 {
    padding: 15px;
    margin-right: 150px;
    font-size: 23px;
    color: #4A0674;
    font-family: "Roboto";
    font-weight: 600;
    }

.payment-option-card {
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    box-shadow: 0px 1px 5px #aaaaaa;
    width: 375px;
    margin: 20px;
}

.payment-option-icons {
    padding: 10px;
}

.payment-option-text {
    display: flex;
    color: #5B2180;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    align-items: center;
}

/*Formulario de pagamento*/

.pform-titles {
    padding: 15px;
    margin: 0px;
    font-size: 23px;
    color: #5B2180;
    font-family: "Roboto";
    font-weight: 600;
}

.delivery-info-section {
    padding: 5px 30px 5px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number-zipcode {
    display: flex;
    flex-direction: row;
}

.number-field .zipcode-field {
    display: flex;
    flex-direction: column;
}

.number-form-field-style {
    padding: 10px;
    border-radius: 10px;
    border-color: #e2e2e2;
    border-style: solid;
    margin-right: 10px;
    width: 150px;
}

.number-form-field-style:focus {
    outline-color: #5B2180;
}

.creditcard-info-section {
    padding: 5px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.datecode-field {
    display: flex;
    flex-direction: row;
}


/*Pagina de confirmação do pagamento*/
.payment-confirmation-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 20px;
}


.payment-confirmation-image{
    width: 80%;
    height: auto;
    padding: 30px;

}

.payment-confirmation-text {
    color: #5B2180;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 100px;
    text-align: center;
    font-family: "Roboto";
    font-weight: 900;
    
}
/* Página - Envie Sua Mensagem*/

.send-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-message-title {
    padding-right: 100px;
    margin: 25px;
    font-size: 23px;
    color: #4A0674;
    font-family: "Roboto";
    font-weight: 600;
}

.send-message-text-area {
    
    height: 550px;
    margin-bottom: 20px;
    width: 370px;
    border-radius: 10px;
    border-color: #E2E2E2;
    border-style: solid;
}

    .send-message-text-area:focus {
        outline-color: #5B2180;
    }

    .sell-container {
        padding: 30px;
    }
.sell-container h1 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #4A0674;
    font-family: "Roboto";
     font-weight: 800;
    }

.sell-card-alignment{
    display: flex;
    justify-content: center;
}

.sell-option-card {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 1px 5px #aaaaaa;
    width: 390px;
    height: 90px;
}

.sell-option-icons {
    padding: 10px;
}

.sell-option-text {
    display: flex;
    color: #5B2180;
    font-weight: 700;
    font-size: 17px;
    padding: 20px;
    
    align-items: center;
    margin: 0px;
}



.card h3 {
    font-size: 35px;
    margin-left: 20px;
}

.services-container {
    margin: 20px 40px 70px 40px;
}


/* SHARED */

.app-container {
    width: 100%;
}

.app-header {
    align-items: center;
    background-color: #5B2180;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.app-logo-text {
    color: #6DAF6D;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 15px;
    font-size: 20px;
}

.simple-logo {
    width: auto;
    height: 50px;
    position: relative;
    margin: 0 auto;
}

.return-icon img {
    position: relative;
    top: 15px;
    left: 10px;
    height: 30px;
    width: auto;
}

.header-message, .header-message-2 {
    color: #FFFFFF;
    margin-bottom: 40px;
    width: 100%;
    padding: 0 30px;
}

.header-message-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .header-message-2 h3 {
        margin-left: 20px;
        font-size: 20px;
        opacity: 0.75;
    }

.header-message h3 {
    opacity: 0.75;
    font-size: 20px;
}

.initial {
    background-color: white;
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.footer-navbar {
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 0px 5px #aaaaaa;
    padding: 10px;
    background-color: white;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-navbar img {
    height: 25px;
    width: 25px;
}

.footer-navbar a {
    color: black;
}

.footer-navbar a:hover {
    text-decoration: none;
}

/* PROFILE */

.profile-title{
    color: #7c7c7c;
    font-size: 20px;
    font-weight: 700;
}

.menu-option {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid #aaaaaa;
    color: black;
    text-decoration: none;a
}

.menu-option img {
    position: absolute;
    right: 40px;
    height: 16px;
}
