@model SVC_Supplier.Models.UserModel;

<!DOCTYPE html>




    @if(ViewBag.NewRegistration != null)
    {
        <span class="text-info">@ViewBag.NewRegistration</span>
    }

    <section class="login-container">
        <div class="login-logo-section">
            <img class="logo" src="~/images/Logo-purple.png" />
        </div>

        <div class="login-form-section">
            <form action="/Account/Login" method="post" class="login-form-field">
                <label class="hidden-element">Email</label>
                <input class="login-form-input" type="email" placeholder="E-mail" asp-for="Email" />
                @if (ViewBag.EmailMessage != null)
                {
                    <span class="text-danger">@ViewBag.EmailMessage</span>
                }
                <label class="hidden-element">Senha</label>
                <input class="login-form-input" type="password" placeholder="Senha" asp-for="Password" />
                @if (ViewBag.PasswordMessage != null)
                {
                    <span class="text-danger">@ViewBag.PasswordMessage</span>
                }
                <p class="pwd-recovery">Esqueci minha senha...</p>
                <input class="button-purple" type="submit" value="ENTRAR" />
            </form>
        </div>
    </section>
    


