@model SVC_Supplier.Models.UserModel;

@{
    Layout = "_LayoutNoNavbar";
}

<a class="back-arrow"><img class="arrow-image" src="/images/back-icon.png"> Voltar</a>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    <div class="signin-form-section">

        <p class="signin-text">Bem vindo!</p>

        <p class="signin-text-2">Para realizar seu cadastro, preencha os dados abaixo</p>

        <form action="/Account/SignIn" method="post" class="signin-form-field">
            <label class="form-label-style">Nome da Empresa</label>
            <input class="signin-form-field-style" type="text" placeholder="Informe o nome da empresa" asp-for="Name" />

            <label class="form-label-style">CNPJ</label>
            <input class="signin-form-field-style" type="text" placeholder="Informe O CNPJ da Empresa" asp-for="SurName" />
            
            <label class="form-label-style">E-mail</label>
            <input class="signin-form-field-style" type="email" placeholder="Informe seu e-mail" asp-for="Email" />

            @if (ViewBag.UserMessage != null)
            {
                <span class="text-danger">@ViewBag.UserMessage</span>
            }
            
            <label class="form-label-style">Senha</label>
            <input class="signin-form-field-style" type="password" placeholder="Informe sua senha" asp-for="Password" />

            <label class="form-label-style">Confirmar a senha</label>
            <input class="signin-form-field-style" type="password" placeholder="Confirme sua senha" asp-for="PasswordConfirmation" />
            @if (ViewBag.PasswordMessage != null)
            {
                <span class="text-danger">@ViewBag.PasswordMessage</span>
            }

            <div class="signin-button-area">
                <input class="button-purple" type="submit" value="Registrar" />
            </div>
            
        </form>
    </div>

</body>
</html>
