@{
    ViewData["Title"] = "Perfil";
}

<a class="back-arrow"><img class="arrow-image" src="/images/back-icon.png"> Voltar</a>

    <section class="services-container">

    <p class="profile-title">Bem Vindo, Empresa S.A!</p>

    <div class="menu-option">
        <h5>Dados da Empresa</h5>
        <img src="~/images/arrow-icon.png" />
    </div>
    <div class="menu-option">
        <h5>Notificações</h5>
        <img src="~/images/arrow-icon.png" />
    </div>
    <div class="menu-option">
        <h5>Pagamentos</h5>
        <img src="~/images/arrow-icon.png" />
    </div>
    <div class="menu-option">
        <h5>Conversas</h5>
        <img src="~/images/arrow-icon.png" />
    </div>
    <a asp-controller="Account" asp-action="Index" class="menu-option">
        <h5>Sair</h5>
    </a>
</section>