@{
    ViewData["Title"] = "Pagamento";
}

<form asp-action="BuyItems" asp-controller="Products">
    <h3>Dados de entrega</h3>
    <label for="address">Endereço:</label>
    <input type="text" placeholder="Endereço" name="address" value="Rua dos Desafortunados" />
    <label for="number">Número:</label>
    <input type="text" placeholder="Número" name="number" value="651"/>
    <label for="zipCode">CEP</label>
    <input type="text" placeholder="CEP" name="zipCode" value="01225-000" />

    <h3>Cartão</h3>
    <label for="cardNumber">Número do cartão:</label>
    <input type="text" placeholder="Número do cartão" name="cardNumber" value="1234 5678 9123 4567" />
    <label for="nameOnCard">Nome no cartão:</label>
    <input type="text" placeholder="Nome no cartão:" name="nameOnCard" value="Fulano da Silva" />
    <label for="validDate">Data de vencimento:</label>
    <input type="text" placeholder="mm/aa" name="validDate" value="10/28" />
    <label for="code">Código:</label>
    <input type="text" placeholder="Código" name="code" value="123" />

    <button type="submit">Pagar</button>
</form>