@{
    ViewData["Title"] = "Produtos";
}

<div>
    <section class="product-search-bar-area">
        <input class="search-bar" type="text" placeholder="Buscar..">

        <h1>Produtos</h1>
    </section>

    <section class="product-card-area">

        <div class="product-card">

            <div class="product-card-image-area">
               
            </div>

            <div class="product-card-information-area">

                    <h2>Cimento Nacional</h2>
                    <h3>Cimento Nacional</h3>

                    <div class="avaliation-subarea">

                        <p>Avaliações</p>
                        <div>
                            <img class="star-icon" src="/images/star-icon.svg" />
                            <img class="star-icon" src="/images/star-icon.svg" />
                            <img class="star-icon" src="/images/star-icon.svg" />
                            <img class="star-icon" src="/images/star-icon.svg" />
                            <img class="star-icon" src="/images/star-icon.svg" />
                        </div>
                        
                    </div>

                    <p class="sold-units">1.500 Unidades vendidas</p>

                    <div class="price-area">
                    <p class="pricing">R$</p>
                    <p class ="pricing">249,99</p>
                    <p class="lot-text">/lotes: 12 unidades</p>
                    </div>
            </div>

        </div>

    </section>
</div>