@{
    ViewData["Title"] = "Mensagem";
}

<div>
    <section class="send-message-container">
        <h1 class="send-message-title">Escreva Sua Mensagem</h1>
        <textarea class="send-message-text-area"></textarea>

        <div class="product-button-area">

            <button class="button-gray" type="button">Enviar Mensagem</button>

        </div>
    </section>
</div>