@{
    ViewData["Title"] = "Detalhes do pedido";
}

<div>
    <section class="product-main-banner-area"></section>

    <section class="product-main-information">
        <h2>Cimento Nacional</h2>
        <h3>Cimento Nacional</h3>
        <h4>Sobre o Produto</h4>
        <p class="product-avaliation-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <div class="product-avaliation">

            <p class="avaliation-title">Avaliações</p>

            <div>
                <img class="product-star-icon" src="/images/star-icon.svg" />
                <img class="product-star-icon" src="/images/star-icon.svg" />
                <img class="product-star-icon" src="/images/star-icon.svg" />
                <img class="product-star-icon" src="/images/star-icon.svg" />
                <img class="product-star-icon" src="/images/star-icon.svg" />
            </div>

        </div>

        <p class="sold-units-product">1.500 Unidades vendidas</p>

    </section>

    <section class="pricing-and-options-area">

        <div class="price-and-quantity">
            <div class="product-pricing-area">
                <p class="product-pricing">R$</p>

                <div class="product-value">
                    <p class="product-pricing">249,99</p>
                    <p class="product-lot-text">/lotes: 12 unidades</p>
                </div>

            </div>

            <div class="quantity-area">
                <p>Quantidade:</p>
                <input class="quantity-counter" type="text" />
            </div>
        </div>

        <div class="delivery-details">
            <p class="delivery-title">Detalhes do Envio</p>
            <p class="delivery-date">Previsão de entrega: 01/01/2024</p>
        </div>

            
        <div class="product-button-area">
           <button class="button-gray" type="button">Enviar Mensagem</button>
        </div>
            

        </>

    </section>
</div>