@{
    ViewData["Title"] = "Confirmado";
}

<a class="back-arrow"><img class="arrow-image" src="/images/back-icon.png"> Voltar</a>

<section class="payment-confirmation-screen">
    <img class="payment-confirmation-image" src="/images/payment-confirmation-image.png" />

    <p class="payment-confirmation-text">Pagamento realizado com sucesso!</p>

    <div class="product-button-area">
        <a class="button-purple" href="@Url.Action("Orders", "Products")">Ver pedidos</a>

    </div>
</section>