@{
    ViewData["Title"] = "Pagamento";
}

<div>
    
    <section class="payment-card-area">

        <h1>Efetuar Pagamento</h1>

        <div class="payment-product-card">

            <div class="image-plus-information">

                <div class="payment-card-image-area"></div>

                <div class="payment-card-information-area">

                    <h2>Cimento Nacional</h2>
                    <h3>Cimento Nacional</h3>

                    <div class="payment-quantity-area">
                        <p>Quantidade:</p>
                        <input class="payment-quantity-counter" type="text" />
                    </div>

                    <p class="lot-text">/lotes: 12 unidades</p>

                </div>

            </div>

            <div class="payment-avaliation-price">

                <div class="avaliation-subarea">

                    <p>Avaliações</p>
                    <div>
                        <img class="star-icon" src="/images/star-icon.svg" />
                        <img class="star-icon" src="/images/star-icon.svg" />
                        <img class="star-icon" src="/images/star-icon.svg" />
                        <img class="star-icon" src="/images/star-icon.svg" />
                        <img class="star-icon" src="/images/star-icon.svg" />
                    </div>

                </div>

                <p class="sold-units">1.500 Unidades vendidas</p>

            </div>

            <div class="payment-price-area">
                <p class="total-value">Valor Total:</p>
                <p class="payment-pricing">R$</p>
                <p class="payment-pricing">249,99</p>
            </div>

        </div>

    </section>

    <section class="payment-forms">
        <h1>Formas de Pagamento</h1>

        <div class="payment-option-card">
            <img class="payment-option-icons" src="/images/credit-card-icon.png"/>
            <p class="payment-option-text">Cartão de Crédito</p>
        </div>

        <div class="payment-option-card">
            <img class="payment-option-icons" src="/images/pix-icon.png" />
            <p class="payment-option-text">Pix</p>
        </div>

    </section>

    <section class="product-button-area">
        <button class="button-purple" type="button">Realizar Pagamento</button>
    </section>
    

</div>