@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="back-arrow"><img class="arrow-image" src="/images/back-icon.png"> Voltar</a>

<section class="payment-confirmation-screen">
    <img class="payment-confirmation-image" src="/images/payment-confirmation-image.png" />

    <p class="payment-confirmation-text">Pagamento realizado com sucesso!</p>

    <div class="product-button-area">
        <button class="button-purple" type="button">Voltar</button>
    </div>
</section>