<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SVC_Supplier</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    </header>
    <div class="app-container">
        <main role="main" class="pb-3">
            <div class="app-header">
                <div class="app-nav">
                    <img class="simple-logo" src="~/images/Logo-simple-white.png"/>
                </div>
            </div>
            @RenderBody()
        </main>
        <div class="footer-navbar">
            <div class="footer-nav-button">
                <a asp-controller="Home" asp-action="Index" class="nav-button">
                    <img src="~/images/home.png" />
                    <h5>Home</h5>
                </a>
            </div>
            <div class="footer-nav-button">
                <a asp-controller="Products" asp-action="Orders" class="nav-button">
                    <img src="~/images/historico.png" />
                    <h5>Pedidos</h5>
                </a>
            </div>
            <div class="footer-nav-button">
                <a asp-controller="Sell" asp-action="Index" class="nav-button">
                    <img src="~/images/shop-basket.png" />
                    <h5>Ofertar</h5>
                </a>
            </div>
            <div class="footer-nav-button">
                <a asp-controller="Profile" asp-action="Index"  class="nav-button">
                    <img src="~/images/profile.png" />
                    <h5>Perfil</h5>
                </a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
