@{
    ViewData["Title"] = "Ofertar";
}

<div>
    <section class="sell-container">
        <h1>Ofertar Produto</h1>

        <div class="sell-card-alignment">
            <div class="sell-option-card">
                <img class="sell-option-icons" src="/images/basket-icon.png" />
                <p class="sell-option-text">Cadastrar nova oferta de produto.</p>
            </div>
        </div>

       

    </section>
</div>