@{
    ViewData["Title"] = "Home Page";
}

<div>
    <section class="banner-area">

        <h1 class="banner-area-title">Olá,<br /> como podemos<br /> te ajudar?</h1>
        <input class="search-bar" type="text" placeholder="Buscar..">

    </section>

    <section class="option-card-area">

        <h1>Mais buscados:</h1>

        <div class="option-cards-row">
            <div class="option-card">
                <img class="option-icon" src="/images/wheelbarrow-icon.png"/>
                <p1>Materiais de construção</p1>
            </div>

            <div class="option-card">
                <img class="option-icon" src="/images/computer-icon.png" />
                <p1>Informática</p1>
            </div>
        </div>

        <div class="option-cards-row">
            <div class="option-card">
                <img class="option-icon" src="/images/car-icon.png" />
                <p1>Mecanica</p1>
            </div>

            <div class="option-card">
                <img class="option-icon" src="/images/hairdresser-icon.png" />
                <p1>Cosméticos</p1>
            </div>
        </div>
        
    </section>
</div>
